{{- define "main" }}

<header class="page-header">
  <h1>{{ .Title }}</h1>
  {{- if .Description }}
  <div class="post-description">{{ .Description }}</div>
  {{- end }}
</header>

{{/* Tag list - alphabetical */}}
{{ if gt (len .Site.Taxonomies.tags) 0 }}
<div class="archive-tag-list">
  <h2>Tags</h2>
  <ul>
    {{ range $name, $taxonomy := .Site.Taxonomies.tags }}
    <li>
      <a href="{{ "/tags/" | relURL }}{{ $name | urlize }}/">{{- partial "icons/tag-icon.html" $name }}{{ $name }}</a>
      <span class="archive-count">{{ len $taxonomy }}</span>
    </li>
    {{ end }}
  </ul>
</div>
{{ end }}

{{/* Posts grouped by year, newest first */}}
{{- $pages := where site.RegularPages "Section" "posts" }}
{{- range $pages.GroupByDate "2006" }}
{{- if ne .Key "0001" }}
<div class="archive-year">
  <h2 class="archive-year-header" id="{{ .Key }}">
    <a class="archive-header-link" href="#{{ .Key }}">{{ .Key }}</a>
    <sup class="archive-count">&nbsp;{{ len .Pages }}</sup>
  </h2>
  <ul class="archive-posts">
    {{- range .Pages }}
    <li class="archive-entry">
      <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "Jan 02" }}</time>
      <a href="{{ .Permalink }}">{{ .Title }}</a>
    </li>
    {{- end }}
  </ul>
</div>
{{- end }}
{{- end }}

{{- end }}{{/* end main */}}
